ConsumoWebProduto/ConsumoWebProduto/Connected Services/ServiceProduto/ProdutoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Post">
        <s:complexType />
      </s:element>
      <s:element name="PostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostResult" type="tns:Produtos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Produtos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Estoque" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProdutos">
        <s:complexType />
      </s:element>
      <s:element name="GetProdutosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdutosResult" type="tns:ArrayOfProdutos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProdutos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Produtos" nillable="true" type="tns:Produtos" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProdutoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdutoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdutoByIdResult" type="tns:Produtos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Put">
        <s:complexType />
      </s:element>
      <s:element name="PutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutResult" type="tns:Produtos" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostSoapIn">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="PostSoapOut">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdutosSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdutos" />
  </wsdl:message>
  <wsdl:message name="GetProdutosSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdutoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdutoById" />
  </wsdl:message>
  <wsdl:message name="GetProdutoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdutoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PutSoapIn">
    <wsdl:part name="parameters" element="tns:Put" />
  </wsdl:message>
  <wsdl:message name="PutSoapOut">
    <wsdl:part name="parameters" element="tns:PutResponse" />
  </wsdl:message>
  <wsdl:portType name="ProdutoServiceSoap">
    <wsdl:operation name="Post">
      <wsdl:input message="tns:PostSoapIn" />
      <wsdl:output message="tns:PostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <wsdl:input message="tns:GetProdutosSoapIn" />
      <wsdl:output message="tns:GetProdutosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdutoById">
      <wsdl:input message="tns:GetProdutoByIdSoapIn" />
      <wsdl:output message="tns:GetProdutoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input message="tns:PutSoapIn" />
      <wsdl:output message="tns:PutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProdutoServiceSoap" type="tns:ProdutoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <soap:operation soapAction="http://tempuri.org/GetProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutoById">
      <soap:operation soapAction="http://tempuri.org/GetProdutoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <soap:operation soapAction="http://tempuri.org/Put" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdutoServiceSoap12" type="tns:ProdutoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post">
      <soap12:operation soapAction="http://tempuri.org/Post" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <soap12:operation soapAction="http://tempuri.org/GetProdutos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutoById">
      <soap12:operation soapAction="http://tempuri.org/GetProdutoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <soap12:operation soapAction="http://tempuri.org/Put" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdutoService">
    <wsdl:port name="ProdutoServiceSoap" binding="tns:ProdutoServiceSoap">
      <soap:address location="https://localhost:44389/ProdutoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdutoServiceSoap12" binding="tns:ProdutoServiceSoap12">
      <soap12:address location="https://localhost:44389/ProdutoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>